@import url('https://fonts.googleapis.com/css?family=Passion+One');
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Passion One', cursive;
  background-color: rgb(75, 167, 112);
  color:rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header{
  width: 100%;
  height: 100px;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
input{
width: 50%;
height: 50px;
border:none;
background-color:rgb(245, 245, 245);
text-align: center;
}
p{
  font-size: 100px;
}
